export(MEMS)
export(AMME)
export(identity_function)
export(Moran_dv)
export(compare_MEMS)
export(mediate_MEMS)
import(MASS,
	stats,
	ergm,
	sna,
	network,
	ergMargins,
	intergraph
	)
importFrom(tergm,tergm)
	